<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/lives_BO.csdl|res://*/lives_BO.ssdl|res://*/lives_BO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.mandala.pt;initial catalog=lives;persist security info=True;user id=pl_lives;password=lives_pl;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>