<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="livesEntities" connectionString="metadata=res://*/lives_BO.csdl|res://*/lives_BO.ssdl|res://*/lives_BO.msl;provider=System.Data.SqlClient;provider connection string='data source=MOON\SQLEXPRESS;initial catalog=lives;integrated security=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>